.project
.idea/dataSources/0e9a31a9-9193-4997-b60d-2b2a53aa9cb9.xml
.idea/dataSources/6a7ac860-adec-49c5-94e2-3d4f09760e22.xml
.idea/workspace.xml.save
.idea/workspace.xml
crm_docs/
crm_images/
